{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/account.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Password change{% endblock %}

{% block main%}
	<section class="page my-container">
		<span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Password change
	</section>

	<!-- Signup Start -->
	<div class="my-container">
		<div class="row">
			{% include "includes/my-account-menu.html" %}
			<div class="col-md-8 col-12 d-flex justify-content-center align-items-center">
				<h2 class="text-gold">Your password has successfully changed!</h2>
			</div>				
		</div>				
	</div>				
	<!-- Signup End -->	


{% endblock %}