{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Reset password{% endblock %}

{% block main%}
    <section class="page">
        <span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Reset password
    </section>
    <hr style="color: #2424242; margin: 0">
    <section class="login-section">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="login-section-card">
            <div class="row">
                <form class="col-12" method='POST'>
                    {% csrf_token %}
                        <h2 class="text-gold text-center">Enter new password</h2>

                        <label for="password1" class="form-label mt-2">Password <span class="text-gold">*</span></label>
                        <input type="password" class="form-control email-input" id="password1" name="new_password1" required>

                        <label for="password2" class="form-label mt-2">Confirm Password <span class="text-gold">*</span></label>
                        <input type="password" class="form-control email-input" id="password2" name="new_password2" required>

                    <div class="text-center mt-3">
                        <button class="Login-btn d-inline-block m-0">Submit</button>
                    </div> 
                    
                </form>
                {% comment %} {% if success %} <div class="success-message mt-2">{{success}}</div> {% endif %} {% endcomment %}
                {% if form.errors %}
                    <div class="mt-2" id="errors">
                        <div class="inner">
                            <p class="text-danger">There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li class="text-danger">{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock main%}
