
{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
	 <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block title %}Dench.io | Password change{% endblock %}

{% block main%}
	<section class="page my-container">
		<span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Password change
	</section>

	<!-- Signup Start -->
	
	<div class="my-container">
		<div class="row">
			{% include "includes/my-account-menu.html" %}
			<div class="col-md-8 col-12 my-4 px-4">
				<div class="sign_form">
					<form method="POST">
					{% csrf_token %}
						<div>
							<div>
								<div>
									<label for="password" class="form-label mt-2">Old password <span class="text-gold">*</span></label>
									<input class="form-control email-input" type="password" name="old_password" value="" required="" minlength="8" maxlength="200">
								</div>
							</div>
							<hr>
							<div class="row">
							<div class="col-md-6 col-12">
								<div class="focus mt-3">
									<div>
										<label for="password" class="form-label mt-2">New password <span class="text-gold">*</span></label>
										<input class="form-control email-input" type="password" name="new_password1" value="" required="" minlength="8" maxlength="200">
									</div>
								</div>
							</div>
							<div class="col-md-6 col-12">
								<div class="focus mt-3">
									<div>
										<label for="password" class="form-label mt-2">Confirm new password <span class="text-gold">*</span></label>
										<input class="form-control email-input" type="password" name="new_password2" value="" required="" minlength="8" maxlength="200">
									</div>
								</div>
							</div>
						</div>
							
						</div>
						<button class="Login-btn" type="submit">Save</button>
					</form>
					{% if form.errors %}
						<div class="mt-2" id="errors">
							<div class="inner">
								<p class="text-danger">There were some errors in the information you entered. Please correct the following:</p>
								{{ form.non_field_errors }}
								<ul>
									{% for field in form %}
										{% if field.errors %}<li class="text-danger">{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
				</div>
			</div>				
		</div>				
	</div>				
	<!-- Signup End -->	


{% endblock %}