{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Reset password{% endblock %}

{% block main%}
    {% comment %} <section class="page">
        <span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Login
    </section> {% endcomment %}
    <hr style="color: #2424242; margin: 0">
    <section class="login-section">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="login-section-card">
            <div class="row">

                <form class="col-12" method='POST'>
                    {% csrf_token %}
                    <label for="email" class="text-center form-label mt-2">Please enter your email address and we will send you information about how to reset your password.<span class="text-gold">*</span></label>
                    <input type="text" value="{{ err_email }}" class="form-control email-input" id="email" name="email" required>
                    
                    <div class="text-center mt-3">
                        <button class="Login-btn d-inline-block m-0">Submit</button>
                    </div> 
                    {% if errors %} <div class="error-message mt-2">{{ errors }}</div> {% endif %}
                </form>
				{% if error %}
					<div class="mt-2" id="errors">
                        <div class="inner">
                            <p class="text-danger">There were some errors in the information you entered. Please correct the following:</p>
                            <ul>
								<li class="text-danger">{{ error }}</li>
                            </ul>
                        </div>
                    </div>
				{% elif form.errors %}
                    <div class="mt-2" id="errors">
                        <div class="inner">
                            <p class="text-danger">There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li class="text-danger">{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock main%}
