{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Reset password{% endblock %}

{% block main%}
    <section class="page">
        <span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Reset password
    </section>
    
    <section class="activate-section">
		<div class="container">
			<div class="text-center">
				<h2 class="text-gold">Password reset sent</h2> 

				<h5 class="text-gold">We’ve emailed you instructions for setting your password, if an account exists with the email you entered.</h5>
				<h5 class="text-gold">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h5>
			</div>
		</div>
	</section>


{% endblock main%}

