{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Register{% endblock %}

{% block main%}
    {% comment %} <section class="page">
        <span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Login
    </section> {% endcomment %}
    <hr style="color: #2424242; margin: 0">
    <section class="login-section">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="login-section-card">
            <div class="row">
                <div class="text-center">
                    <div class="log_reg_btns">
                        <a href="{% url 'login' %}">
                            <div class="login_btn mr-sm-3 mr-0">
                                Login
                            </div>
                        </a>
                        <a href="{% url 'register' %}">
                            <div class="login_btn active-btn mt-sm-0 mt-3">
                                Register
                            </div>
                        </a>
                    </div>
                </div>
                <form action="{% url 'register' %}" class="col-12" method='POST'>
                    {% csrf_token %}
                        <label for="email" class="form-label mt-2">Email address <span class="text-gold">*</span></label>
                        <input type="email" value="{{ form.email.value }}" class="form-control email-input" id="email" name="email" required>

                        <label for="password1" class="form-label mt-2">Password <span class="text-gold">*</span></label>
                        <input type="password" class="form-control email-input" id="password1" name="password1" required>

                        <label for="password2" class="form-label mt-2">Confirm Password <span class="text-gold">*</span></label>
                        <input type="password" class="form-control email-input" id="password2" name="password2" required>
                        <div class="register-content">
                        <p>Your personal data will be used to support your experience 
                            throughout this website, to manage access to your account,
                             and for other purposes described in our <a href="{% url 'privacy' %}" target="blank_" class="policy-link">privacy policy</a>.
                        </p>
                    </div>
                    <div class="text-center mt-3">
                        <button class="Login-btn d-inline-block m-0">Submit</button>
                    </div> 
                    
                </form>
                {% if success %} <div class="success-message mt-2">{{success}}</div> {% endif %}
                {% if form.errors %}
                    <div class="mt-2" id="errors">
                        <div class="inner">
                            <p class="text-danger">There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li class="text-danger">{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock main%}

