{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/account.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Activate{% endblock %}

{% block main%}
    <section class="page">
        <span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Login
    </section>
    
            {% if activate %}
            <!-- Signup Start -->
            <div class="my-container">
                <div class="row">
                    {% include "includes/my-account-menu.html" %}
                    <div class="col-md-8 col-12 d-flex justify-content-center align-items-center">
                        <h4 class="text-gold">Success! Your account has been activated successfully.</h4>
                    </div>				
                </div>				
            </div>				
            {% else %}
            <section class="activate-section">
                <div class="container">
                    <div class=" d-flex justify-content-center align-items-center">
                        <h2 class="text-danger">Error: Activation link is invalid!</h2>
                    </div>
                </div>
            </section>
            {% endif %}


{% endblock main%}

