{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/account.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Dashboard{% endblock %}

{% block main%}      
        <section class="page my-container">
            <span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Dashboard
        </section>
    <div class="my-container">
        <div class="row">

            {% include "includes/my-account-menu.html" %}
            
            <div class="col-md-8 col-12 mb-md-0 mb-3">
                <div class="ml-2 mt-5 order-section flex-md-row flex-column">
                    <p class="mb-0">No order has been made yet.</p>
                    <a href="{% url 'shop' %}"><button class="Login-btn mt-0">Browse products</button></a>
                </div> 
            </div>
        </div>
    </div>
{% endblock main%}