{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" initial-scale=4 content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->


	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
	<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"
	>
	<!-- Bootstrap core CSS -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"
	>
	<link href="{% static 'animation/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="{% static 'animation/css/mdb.min.css' %}" rel="stylesheet">
	<!-- Your custom styles (optional) -->
	<link href="{% static 'animation/css/style.css' %}" rel="stylesheet">

	{% block style %}
	{% endblock %}
	<title>{% block title %}Dench.io{% endblock %}</title>
</head>

<body>
{% if request.resolver_match.url_name != 'index' %}
	<section class="top-bar d-flex justify-content-between align-items-center">
		<div class="navbar-brand">
			<a href="{% url 'index' %}"><img src="{% static 'images/Denchcoin-logo.png' %}" class="brand" alt="logo"></a>
		</div>
		<div class="menu-items">
			<ul class="d-flex nav-items p-0 mb-0">
				<li><a href="{% url 'index' %}#Home">{% trans 'Home' %}</a></li>
				<li><a href="{% url 'whitepaper' %}">{% trans 'Whitepaper' %}</a></li>
				<li><a href="{% url 'index' %}#About">{% trans 'About' %}</a></li>
				<li><a href="{% url 'index' %}#Wallet">{% trans 'Wallet' %}</a></li>
				<li><a href="{% url 'index' %}#Roadmap">{% trans 'Roadmap' %}</a></li>
				<li><a href="{% url 'index' %}#Contacts">{% trans 'Contacts' %}</a>
				</li>
				<li><a href="{% url 'partners' %}">{% trans 'Partners' %}</a></li>
				<li>
					{% if request.user.is_authenticated %}
						<a href="{% url 'dashboard' %}">
							<div class="login-btn">
								{% trans 'My Account' %}
							</div>
						</a>

					{% else %}
						<a href="{% url 'login' %}">
							<div class="login-btn">
								{% trans 'Login' %}
							</div>
						</a>
					{% endif %}
				</li>
				</li>
				{% comment %}
					<li class="p-0">
						<a href="https://twitter.com/denchcoin" target="_black"><img src="{% static 'images/twitter_(1).png' %}" alt=""></a>
						<a href="https://www.instagram.com/dench.coin" target="_black"><img src="{% static 'images/instagram_(1).png' %}" alt=""></a>
						<a href="https://www.facebook.com/denchcoin" target="_black"><img src="{% static 'images/facebook_(1).png' %}" alt=""></a>
					</li> {% endcomment %}
				{#                <li class="d-flex align-items-center">#}
				{#                    <form action="{% url 'set_language' %}" method="post" class="d-flex mr-1">#}
				{#                        {% csrf_token %}#}
				{#                        <input name="language" type="hidden" value="en" />#}
				{#                        <input type="image" class="language" src="{% static 'images/us.png' %}"/>#}
				{#                    </form>#}
				{#                    <form action="{% url 'set_language' %}" method="post" class="d-flex">#}
				{#                        {% csrf_token %}#}
				{#                        <input name="language" type="hidden" value="ru" />#}
				{#                        <input type="image" class="language" src="{% static 'images/ru.png' %}"/>#}
				{#                    </form>#} {#                </li>#}
			</ul>
		</div>
		<div class="mobile-menu" style="left: -100%;">
			<ul class="d-flex nav-items p-0 mb-0">
				<li><a href="#">{% trans 'Home' %}</a></li>
				<li><a href="{% url 'whitepaper' %}">{% trans 'Whitepaper' %}</a></li>
				<li><a href="#Wallet">{% trans 'Wallet' %}</a></li>
				<li><a href="#Roadmap">{% trans 'Roadmap' %}</a></li>
				<li><a href="#Contacts">{% trans 'Contacts' %}</a></li>
				<li><a href="{% url 'partners' %}">{% trans 'Partners' %}</a></li>
				<li>
					<a href="https://twitter.com/denchcoin" target="_black"><img src="{% static 'images/twitter_(1).png' %}" alt=""></a>
					<a href="https://www.instagram.com/dench.coin" target="_black"><img src="{% static 'images/instagram_(1).png' %}" alt=""></a>
					<a href="https://www.facebook.com/denchcoin" target="_black"><img src="{% static 'images/facebook_(1).png' %}" alt=""></a>
					<a href="https://www.linkedin.com/in/denis-asteyan-a6289b113" target="_black"><img src="{% static 'images/linkedin_(1).png' %}" alt=""></a>
				</li>
				<li>
					{% if request.user.is_authenticated %}
						<a href="{% url 'dashboard' %}">
							<div class="login-btn">
								{% trans 'My Account' %}
							</div>
						</a>

					{% else %}
						<a href="{% url 'login' %}">
							<div class="login-btn">
								{% trans 'Login' %}
							</div>
						</a>
					{% endif %}
				</li>
				{#                <li class="d-flex align-items-center">#}
				{#                    <form action="{% url 'set_language' %}" method="post" class="d-flex mr-3">#}
				{#                        {% csrf_token %}#}
				{#                        <input name="language" type="hidden" value="en" />#}
				{#                        <input type="image" class="language" src="{% static 'images/us.png' %}"/>#}
				{#                    </form>#}
				{#                    <form action="{% url 'set_language' %}" method="post" class="d-flex">#}
				{#                        {% csrf_token %}#}
				{#                        <input name="language" type="hidden" value="ru" />#}
				{#                        <input type="image" class="language" src="{% static 'images/ru.png' %}"/>#}
				{#                    </form>#} {#                </li>#}
			</ul>
		</div>
		<div class="mobile-bars">
			<i class="fas fa-bars"></i>
		</div>
	</section>
{% endif %}
{% block main %}

{% endblock %}

<section class="footer">
	<div class="my-container pt-5">
		<div class="row">
			<div class="col-md-6 col-12 my-5">
				<div class="w-75 m-auto">
					<h4 class="text-white">denchcoin</h4>
					<p class="mt-3">Dench created to help Business partners in their future Investment</p>

					<div class="w-75 m-auto" style="padding-top: 100px;padding-left: 40px;">
						<h4 class="text-white" style="width: 150px;">Powered by</h4>
						<a href="https://www.coingecko.com/en/coins/denchcoin"><img src="{% static 'images/geckoterminal_icon.png' %}" alt="" style="height: 60px; margin-left: 160px; margin-top: -70px;"></a>
					</div>

					<div class="d-flex mt-4 payment-sistem">
						<a href="https://twitter.com/denchcoin"><i class="fab fa-twitter mr-3"></i></a>
						<a href="https://www.instagram.com/dench.coin"><i class="fab fa-instagram mr-3"></i></a>
						<a href="https://www.facebook.com/denchcoin"><i class="fab fa-facebook-f mr-3"></i></a>
						<a href="https://www.linkedin.com/in/denis-asteyan-a6289b113"><i class="fab fa-linkedin-in mr-3"></i></a>
					</div>
				</div>
			</div>
			{% comment %}
				<div class="col-md-4 col-12 my-5">
					<h4 class="text-white">Latest News</h4>
				</div> {% endcomment %}
			<div class="col-md-6 col-12 my-5">
				{% comment %}
					<div class="w-75 m-auto"> {% endcomment %}
				<h4 class="text-white">Contacts</h4>
				<div class="d-flex align-items-center mt-4 contact">
					<i class="fas fa-map-marked-alt"></i>
					<p class="m-0">London, Kensal Green, leigh Gardens, 264</p>
				</div>
				<div class="d-flex align-items-center contact">
					<i class="far fa-envelope"></i>
					<p class="m-0">
					<address class="m-0">
						<a class="text-gold" href="mailto:support@dench.io">support@dench.io</a>
					</address>
					</p>
				</div>
				<div class="d-flex align-items-center contact">
					<i class="far fa-clock"></i>
					<p class="m-0">Mon.-Sun.: 24 Hours</p>
				</div>
				{% comment %} </div> {% endcomment %}
			</div>
		</div>
	</div>
</section>
<section class="footer-botoom my-container text-center py-3">
	<h6 class="m-0">Copyright © 2019–2021 Dench.io. All rights reserved</h6>
	{% comment %}
		<h6 class="text-break pt-md-0 mb-0 pt-3">Token:0x4b7265d153886a7dc717e815862acde6ff7b5bc8</h6> {% endcomment %}
</section>

{% block scripts_start %}
{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
<!-- JQuery -->
<script type="text/javascript" src="{% static 'animation/js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'animation/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'animation/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'animation/js/mdb.min.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YYK9WQY8WC"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-YYK9WQY8WC');
</script>

<script>
    new WOW().init();
</script>

{% block scripts_end %}
{% endblock %}

</body>

</html>

