{% load static %}
<div class="col-md-4 col-12 mt-5 mb-md-5 md-3">
    <div class="profile-menu">
        <ul class="p-0">
        
        <a href={% url 'dashboard' %}><li 
            {% if request.resolver_match.url_name == 'dashboard' %} style="color: #f3ba40" {% endif %}
        >dashboard</li></a>

        <a href={% url 'orders' %}><li 
            {% if request.resolver_match.url_name == 'orders' %} style="color: #f3ba40" {% endif %}
        >orders</li></a>

        <a href={% url 'address' %}><li 
            {% if request.resolver_match.url_name == 'address' or request.resolver_match.url_name == 'billing' %} style="color: #f3ba40" {% endif %}
        >address</li></a>

        <a href={% url 'account_details' %}><li 
            {% if request.resolver_match.url_name == 'account_details' %} style="color: #f3ba40" {% endif %}
        >account details</li></a>

        <a href={% url 'change_password' %}><li 
            {% if request.resolver_match.url_name == 'change_password' %} style="color: #f3ba40" {% endif %}
        >change password</li></a>

        <a href={% url 'logout' %}><li>logout</li></a>
        </ul>
    </div>
</div>