{% extends "includes/base.html" %}
{% load static %}
{% block style %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link href="{% static 'css/flipdown.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/index-media.css' %}">



{% endblock %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


{% load i18n %}
{% block title %}Dench.io | {% trans 'Home' %} {% endblock %}
{% block scripts_end %}
	<script src="{% static 'js/contract.js' %}"></script>
	<script type="application/javascript">
      $(function () {
          $('.contracts').contracts([
              {
                  source: 'DENCH',
                  destination: 'BUSD',
                  chain_type: 'BEP',
                  apr: '180',
                  sourceLogo: `{% static 'images/dench-logo.png' %}`,
                  destinationLogo: `{% static 'images/busd-logo.png' %}`,
                  translations: {
                      SEND: `{% trans 'SEND' %}`,
                      ACTIVATE: `{% trans 'Activate contract' %}`,
                  }

              },
              {
                  source: 'DENCH',
                  destination: 'DODO',
                  chain_type: 'BEP',
                  apr: '195',
                  sourceLogo: `{% static 'images/dench-logo.png' %}`,
                  destinationLogo: `{% static 'images/dodo-logo.png' %}`,
                  translations: {
                      SEND: `{% trans 'SEND' %}`,
                      ACTIVATE: `{% trans 'Activate contract' %}`,
                  }

              },
              {
                  source: 'USDT',
                  destination: 'USDC',
                  chain_type: 'ERC',
                  apr: '31',
                  sourceLogo: `{% static 'images/usdt-logo.png' %}`,
                  destinationLogo: `{% static 'images/usdc-logo.png' %}`,
                  translations: {
                      SEND: `{% trans 'SEND' %}`,
                      ACTIVATE: `{% trans 'Activate contract' %}`,
                  }
              },

              {
                  source: 'DENCH',
                  destination: 'CAKE',
                  chain_type: 'BEP',
                  apr: '125',
                  sourceLogo: `{% static 'images/dench-logo.png' %}`,
                  destinationLogo: `{% static 'images/cake-logo.png' %}`,
                  translations: {
                      SEND: `{% trans 'SEND' %}`,
                      ACTIVATE: `{% trans 'Activate contract' %}`,
                  }

              },
              {
                  source: 'USDT',
                  destination: 'DODO',
                  chain_type: 'ERC',
                  apr: '51',
                  sourceLogo: `{% static 'images/usdt-logo.png' %}`,
                  destinationLogo: `{% static 'images/dodo-logo.png' %}`,
                  translations: {
                      SEND: `{% trans 'SEND' %}`,
                      ACTIVATE: `{% trans 'Activate contract' %}`,
                  }

              },
          ]);
      });
	</script>
{% endblock %}
{% block main %}
	<section class="head-section" id="home">


		{% include "includes/top-bar.html" %}

		<div class="section-paddings mt-5 position-relative">
			<section>
				<p class="text-gold fs-20 font-weight-bold wow zoomIn t-shadow">{% trans 'Want to Invest? You are in right place' %}</p>
				<h1 class="text-dench mt-3 fs-48 wow zoomIn t-shadow">DENCHCOIN</h1>
			
				<div style="margin-top: 20px;">
					<a href="https://www.geckoterminal.com/eth/pools/0x5fcc2a76f48852af18ad1365246c00a991215710"><img src="/static/images/geckoterminal_icon.5392b87808e8.png" alt="" style="height: 30px;margin-left: 160px;"></a>
				</div>
				<h6 class="mt-4 text-md-muted text-white t-shadow">{% trans 'Dench created to help Business partners in their future Investment' %}</h6>
				<br>
				<!-- <div id="flipdown" class="flipdown"></div> -->
				<div class="denchcoin-price t-shadow">{% trans 'DENCHCOIN Price:' %}
					<span
						class="price"
					>{{ price }}</span>$
				</div>

				<div class="col-md-6 charts-wrapper">
					<select name="chart" id="charts">
						<option value="5m">5m</option>
						<option value="15m">15m</option>
						<option value="1d">1d</option>
						<option value="7d">7d</option>
						<option value="30d">30d</option>
						<option value="1y">1y</option>
					</select>
					<canvas id="Chatline"></canvas>
				</div>


				<div class="chart">
					<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
					<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
					<script src="{% static 'js/chart.js' %}"></script>
					{#                    <script src="{% static 'js/chart_update.js' %}" ></script>#}
				</div>
				<div class="buy-btn">
					<a
						href="https://pancakeswap.finance/swap?chain=eth&inputCurrency=0x4b7265D153886a7Dc717e815862AcDE6FF7B5bc8&outputCurrency=0xdAC17F958D2ee523a2206206994597C13D831ec7"
						target="blank_" style="color: #212529"
					>{% trans 'buy dench' %}</a>
				</div>
				{% comment %}
					<div class="buy-btn">
						<a href="https://bankcex.com/exchange-base.html?symbol=DENCH_USDT" target="blank_" style="color: #212529">{% trans 'buy dench' %}</a>
					</div> {% endcomment %}
				<div class="payment-sistem d-flex mt-5 pb-3">
					<i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
					<i class="fab fa-btc"></i> <i class="fab fa-paypal"></i>
				</div>
			</section>
		</div>
	</section>



	<section class="wallet-section wow fadeIn" id="Wallet">
		<div class="row">
			<div class="col-md-4 col-12 position-relative d-flex justify-content-center align-items-center">
				<img src="{% static 'images/wallet (3).png' %}" id="wallet" alt="wallet">
				<div class="section1-text">
					<p class="text-gold font-weight-bold">WALLET For DENCH</p>
					<h6>You can Send/Receive DENCH using<br/><br/><span class="mt-3">the follwing wallets.</span>
					</h6>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="my-5">
					<div class="wallet-card">
						<img src="{% static 'images/img1.png' %}" class="wallet-img" alt="wallet">
						<div class="img-container">
							<img class="wow fadeInDown mt-3" src="{% static 'images/coins.png' %}" alt="wallet">
						</div>
						<div class="text-center w-md-50 w-75" style="z-index: 999;">
							<h6 class="mt-4">COINS</h6>
							<p class="mb-0">Discover, store, invest, send & receive. All in one app.</p>
						</div>
						<div class="d-flex mobile justify-content-center mb-4">
							<a
								href="https://apps.apple.com/us/app/coins-one-app-for-crypto/id1475233621"
								target="_black"
							><img src="{% static 'images/Dench-Apple.png' %}" alt="apple"></a>
							<a
								href="https://play.google.com/store/apps/details?id=com.coinpaprika.coins"
								target="_black"
							><img src="{% static 'images/Dench-Google-Play.png' %}" alt="apple"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="my-5">
					<div class="wallet-card">
						<img src="{% static 'images/img1.png' %}" class="wallet-img">
						<div class="img-container">
							<img class="wow fadeInDown" src="{% static 'images/tokenpocket-logo.png' %}" alt="wallet" class="mt-3">
						</div>
						<div class="text-center w-md-50 w-75" style="z-index: 999;">
							<h6 class="mt-4">TokenPocket</h6>
							<p class="mb-0">Make Blockchain Happen Everywhere</p>
						</div>
						<div class="d-flex mobile justify-content-center mb-4">
							<a href="https://apps.apple.com/cn/app/tokenpocket-trusted-wallet/id1436028697" target="_black"><img src="{% static 'images/Dench-Apple.png' %}" alt="apple"></a>
							<a href="https://play.google.com/store/apps/details?id=vip.mytokenpocket" target="_black"><img src="{% static 'images/Dench-Google-Play.png' %}" alt="apple"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4 col-12">
                <div class="my-5">
                    <div class="wallet-card">
                        <img src="{% static  'images/img1.png' %}" class="wallet-img">
                        <div class="img-container">
                            <img class="wow fadeInDown" src="{% static  'images/DENCH-trustwallet-2.png' %}" alt="wallet" class="mt-3">
                        </div>
                        <div class="text-center w-md-50 w-75" style="z-index: 999;">
                            <h6 class="mt-4">Trust Wallet</h6>
                            <p class="mb-0">Secure Multi Coin Wallet for Android and iOS.</p>
                        </div>
                        <div class="d-flex mobile justify-content-center mb-4">
                            <a href="https://apps.apple.com/us/app/coins-one-app-for-crypto/id1475233621" target="_black"><img src="{% static  'images/Dench-Apple.png' %}" alt="apple"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp" target="_black"><img src="{% static  'images/Dench-Google-Play.png' %}" alt="apple"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="my-5">
                    <div class="wallet-card">
                        <img src="{% static  'images/wallet (2).png' %}" class="wallet-img">
                        <div class="img-container">
                            <img class="wow fadeInDown" src="{% static  'images/DENCH-MyEtherWallet-1.png' %}"
                                 alt="wallet" class="mt-3">
                        </div>
                        <div class="text-center w-md-50 w-75" style="z-index: 999;">
                            <h6 class="mt-4">MyEtherWallet</h6>
                            <p class="mb-0">ETH's Original Wallet for Android and iOS.</p>
                        </div>
                        <div class="d-flex mobile justify-content-center mb-4">
                            <a href="https://apps.apple.com/us/app/mewconnect/id1391097156" target="_black"><img src="{% static  'images/Dench-Apple.png' %}" alt="apple"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.myetherwallet.mewconnect&hl=en" target="_black"><img src="{% static  'images/Dench-Google-Play.png' %}" alt="apple"></a>
                        </div>
                    </div>
                </div>
            </div> -->
		</div>
	</section>
	<section class="stats-section" id="Wallet">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-12 pl-0 my-5 ml-5 wow fadeInLeft">
					<img src="{% static 'images/dench_gif.gif' %}" alt="gif" class="small_size">
				</div>
				<div class="col-md-5 col-10 text-light mt-5">
					<h6 class="mb-3">
						<span class="text-gold stat-key">Dench keeps your currency's spending power steady and growing exponentially by partnering with very large companies. Today, some of the top brands purchase manufactured goods and realty with Dench.</span>
					</h6>
					<h6 class="mb-3">
						<span class="text-gold stat-key">Dench is a professional company and is providing great customer service. Our employees took the ERC 20,BEP 20 and are working hard to ensure the safety of your coin.</span>
					</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-12 pl-0 my-5 wow fadeInLeft">
					<img src="{% static 'images/DENCH-Distribution-chart.png' %}" alt="chart" class="w-100">
				</div>
				<div class="col-md-5 col-12 text-light mt-3">
					<h3 class="text-light my-5">Token Allocation</h3>
					<h6 class="mb-3"><span class="text-gold stat-key">TOKEN NAME:</span>
						<span
							class="result"
						>Denchcoin</span></h6>
					<h6 class="mb-3">
						<span class="text-gold stat-key">TICKERS / SYMBOL:</span>
						<span class="result">Dench</span>
					</h6>
					<h6 class="mb-3">
						<span class="text-gold stat-key">TOTAL SUPPLY:</span>
						<span class="result">100,000,000 Dench</span>
					</h6>
					<h6 class="mb-3"><span class="text-gold stat-key">DECIMALS:</span>
						<span class="result">18</span>
					</h6>
					<h6 class="mb-3">
						<span class="text-gold stat-key">CONTRACT ERC-20:</span> <a
						href="https://coinpaprika.com/ru/coins-wallet/dench-denchcoin/"
						target="blank_" class="result text-gold" style="word-break: break-word"
					>0x4b7265D153886a7Dc717e815862AcDE6FF7B5bc8</a>
					</h6>
					<h6 class="mb-3">
						<span class="text-gold stat-key">CONTRACT BEP-20:</span> <a
						href="https://pancakeswap.finance/info/pool/0x198fcbb81f23528821589c5529428658266b136c"
						target="blank_" class="result text-gold" style="word-break: break-word"
					>0x62aa52175ff697989b214b298cef5053b0bfdef6</a>
					</h6>
					<div class="mt-5">
						<div class="stat-border">
							<div>Public Sale</div>
							<div>65%</div>
						</div>
						<div class="stat-border">
							<div>Liquidity reserve</div>
							<div>15%</div>
						</div>
						<div class="stat-border">
							<div>Marketing and Branding</div>
							<div>7%</div>
						</div>
						<div class="stat-border">
							<div>Development</div>
							<div>7%</div>
						</div>
						<div class="stat-border mb-5">
							<div>Community</div>
							<div>6%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sequrity-section py-5 wow fadeIn">
		<div>
			<h1 class="text-center text-light mb-5">Security on the platform</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-12">
					<div class="sequrity-card">
						<div class="squrity-card-head">
							<i class="fas fa-key"></i>
							<h5>Encrypted Keys</h5>
						</div>
						<p>All private keys for our wallets are encrypted with AES-256 and are stored offline</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-12 mt-sm-0 mt-3">
					<div class="sequrity-card">
						<div class="squrity-card-head">
							<i class="fas fa-database"></i>
							<h5>Data Transmission</h5>
						</div>
						<p>All data from website is transmitted using encrypted Transport Layer Security (TLS) connections (i.e., HTTPS</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-12 ol-md-offset-0 offset-md-0 offset-sm-3 mt-md-0 mt-3">
					<div class="sequrity-card">
						<div class="squrity-card-head">
							<i class="fas fa-lock"></i>
							<h5>Password Security</h5>
						</div>
						<p>Passwords in our database are encrypted using Salted SHA-256</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="youtube-content">
			<iframe
				class="youtube-content" src="https://www.youtube.com/embed/-hzTIvvPyGk?autoplay=1" allow='autoplay'
				frameborder="0" allowfullscreen
			></iframe>
		</div>
	</section>
	<section class="roadmap-section pt-5" id="Roadmap">
		<div class="container-fluid">
			<div class="text-center">
				<h2 class="text-light text-center mb-3">DENCH Token Roadmap</h2>
				<div class="roadmap-line"></div>
				<h5 class="roadmap-small-text mt-3 mb-5">powered by blockchain and smart contracts</h5>
			</div>
			<div class="d-flex flex-wrap mt-5 justify-content-center">
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2019 Q4</h4>
					<p>Idea Created</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2019 Q4</h4>
					<p>Brainstormin</p>
					<p>with members</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2020 Q1</h4>
					<p>Built the core team</p>
					<p>for development</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2020 Q1</h4>
					<p>Token logo and</p>
					<p>content created</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2020 Q1</h4>
					<p>ERC-20 Token created</p>
				</div>
			</div>
			<div class="d-flex flex-wrap mt-5 justify-content-center">
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2020 Q2</h4>
					<p>Whitepaper created</p>
					<p>Website Developed</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2020 Q3</h4>
					<p>Marketing planning</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2020 Q4</h4>
					<p>Exchange discussed</p>
					<p>Private Sale</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2021 Q1</h4>
					<p>Signing Contracts</p>
					<p>with Partners</p>
				</div>
				<div class="roadmap-content">
					<div class="roadmap-item-line"></div>
				</div>
				<div class="roadmap-content">
					<i class="far fa-check-circle"></i>
					<h4>2021 Q2</h4>
					<p>Exchange Listing</p>
					<p>bankCEX.com</p>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe-section wow fadeIn" id="Contacts">
		<h2 class="text-center text-light py-80">Subscribe to always be up to
			<br> date in our latest news!</h2>
		<div class="d-sm-flex d-block text-center justify-content-center">
			<input type="text" placeholder="Enter your email..." class="emil-input">
			<button class="subscribe-btn mt-sm-0 mt-2">Subscribe</button>
		</div>
		<h6 class="text-light text-center mt-5">Follow us on</h6>
		<div class="d-flex justify-content-center">

			<div class="social-media ">
				<a href="https://twitter.com/denchcoin" target="_black"><i class="fab fa-twitter text-white"></i></a>
			</div>

			<div class="social-media">
				<a href="https://www.instagram.com/dench.coin" target="_black"><i
					class="fab fa-instagram text-white"
				></i></a>
			</div>

			<div class="social-media">
				<a href="https://www.facebook.com/denchcoin" target="_black"><i
					class="fab fa-facebook-f text-white"
				></i></a>
			</div>

			<div class="social-media">
				<a href="https://www.linkedin.com/in/denis-asteyan-a6289b113" target="_black"><i
					class="fab fa-linkedin-in text-white"
				></i></a>
			</div>

		</div>
		<div class="container mt-5 d-flex flex-md-row flex-column align-items-md-start align-items-center justify-content-center wow fadeInUp">
			<div class="dench-info mt-3 mb-2 mr-5">
				<img src="{% static 'images/logo2-1.png' %}" alt="logo">
				<h6 style="margin-top: 44px" class="text-light">Dates: </h6>
				<p>March 1, 2020 - March 31, 2020</p>
				<h6 class="mt-3 text-light">DENCHCOIN for sale:</h6>
				<p>5,000,000 out of 100,000,000 (5%)</p>
				<h6 class="mt-3 text-light">Hard cap: 20 million</h6>
				<h6 class="mt-3 text-light">Soft cap: 5 million</h6>
				<h6 class="mt-3 text-light">Exchange rate:</h6>
				<!-- <p>1 DENCH = 0.26 USD</p> -->
			</div>
			<div class="buy-dench mt-3 mb-2">
				<div class="card-shadow"></div>
				<div>
					<!-- <h6 class="mt-2 text-gold">PARTICIPATE IN OUR DENCHCOIN SALE</h6>
					<h6 class="mt-4">IOE Stage1 Ends in:</h6> -->
					<form action="" method="post">
						<select id="chain_type" name="type">
							<option value="1">BEP-20</option>
							<option value="2">ERC-20</option>
						</select> <label for="values1"></label><input
						class="dench0" type="number" min="0" id="values1"
						name="denchcoin_count" placeholder="DENCH"
						oninput="this.value = Math.abs(this.value);"
					/> <label for="values2"></label><input
						class="dench1" type="number" min="0" id="values2"
						name="result_after_calculation" placeholder="BUSD"
						oninput="this.value = Math.abs(this.value);"
					/> <select id="ex_type" name="ex">

					</select>
					</form>
					<div class="buy-btn trade-button disabled">
						<span style="color: #212529">{% trans 'BUY DENCH' %}</span>
					</div>
					<script src="{% static 'js/trade.js' %}"></script>

				</div>
				<!-- <h6 class="mt-4">IOE Stage1 Ends in:</h6> -->
					<div class="denchcoin-price-2">DENCHCOIN Price:
						<span class="price">{{ price }} </span>$
					</div>
				<h6 class="mt-4 text-gold">PAYMENT METHODS</h6>
				<div class="payment-sistem d-flex mt-3 pb-3">
					<i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
					<i class="fab fa-btc"></i> <i class="fab fa-paypal"></i>
				</div>
			</div>
			<div class="check_card">
				<h3 id="label" style="color: #ffc955">Check active cards</h3>
				<div id="check_btn" class="check_btn disabled">
					<span style="color: #212529">{% trans 'CHECK' %}</span>
				</div>
				<div class="for_check">
					<input id="input_wallet" class="input_for_check" placeholder="Wallet address">
					<input id="input_passcode" class="input_for_check" placeholder="Passcode">
				</div>
				<div class="wrapper_table_check_contract hidden" id="wrapper_table_check_contract_id">
					<span class="insert_table"></span>
				</div>
				<div class="resign_btn hidden">
					<span style="color: #212529">{% trans 'RESIGN CONTRACT' %}</span>
				</div>
			</div>
		</div>
		<div class="contracts"></div>
	</section>


{% endblock main %}

{% block scripts_start %}
	<!--<script>
var headings = ["{% trans 'Days' %}", "{% trans 'Hours' %}", "{% trans 'Minutes' %}", "{% trans 'Seconds' %}"];
</script>
    <script src="{% static 'js/flipdown.js' %}"></script>
    <script>
        let el = document.getElementById("flipdown")
        let flipdown = new FlipDown (1621454400, el, {
            theme: 'dark' // or light
        });
        flipdown.start ();
        flipdown.ifEnded(() => {
            console.log('The countdown has ended!');
        });
    </script>-->

{% endblock %}


