{% extends "includes/base.html" %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" href="{% static 'css/index-media.css' %}">
{% endblock %}
{% block title %}Dench.io | Whitepaper{% endblock %}

{% block main%}       
    <section class="page my-container">
        <span class="page-title"><a href="{% url 'index' %}">Home</a></span> <i class="fas fa-angle-right mr-2"></i> Whitepaper
    </section>
    <section class="privacy-section py-3 px-5 my-container">
    <h2 class="mt-4 ">DENCHCOIN</h2>
    <p>My business partners and I since 2018 we have been working to create a optional and
    optimal way, which will substitute all the present payment systems. The work continuous
    since this day, in order to demonstrate our will and show our optimal product, which would
    be placed side by side on global standards.</p>
    <p>In fact our corporation employees, took the <span class="font-weight-bold">ERC20</span>, since today our employees working
    to place our standards even higher levels in the crypto currency much safer level, and for
    that matter our employees never hesitate to achieve our corporation make even more
    productive.</p>
    <p>The grand opening of our website took place on the year of 2020, Feb 28.</p>   
    <p>We are a professional company and our employees will provide the best customer
    service. We partnered with the top brands and companies to provide our best service
    and crypto currency approach to give the customers to purchase their manufactured
    products and goods.</p>
    <p>With Denchcoin crypto currency soon we will satisfy and serve new and interesting
    products, which will make our customers life much convenient.</p>
    <p>Those customers who will use greater amount of our Denchcoin crypto currency will
    have plenty of benefits, like cashback choice and much more promotions.Promotions will
    include on constant matter and benefit our customers to have much better and
    comfortable life.</p>

    <h2 class="mt-5">REGISTERY PROCESS</h2>
    <p>To sign up in our Denchcoin website, is safe and secure and very simply easy process:</p>
    <p>All you have to do is go into the dench.io site and sign up, just follow the steps and it will
    guide you step by step. After that you will receive an email, which will include your
    confirmation and the login information, and automatically you will become in Denchcoin
    crypto family. You can make crypto purchases in our website and also purchase other
    crypto currencies like </p>
    <ul class="font-weight-bolder text-white-50">
    <li>Bitcoin</li>
    <li>Etherium</li>
    </ul>
    <p>We provide many benefits which includes flexible prices, and u can use the crypto
    currency to buy food in supermarkets, clothing from department stores, to pay in the
    restaurants or cafes, gyms, spa complexes and much more.</p>
    <p>Also you will have an opportunity to win a travel ticket to visit most luxurious and charming
    places in the world.</p>

    <h4 class="m-5"><a class="text-gold fs-25" href="pdf" >Whitepaper.pdf</a></h4>
    </section>

    


{% endblock main%}